<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8" style="margin-left: -15px">
    <div class="col-md-6 body-box">
        <br>
        <div class="row">
        <div class="col-md-12">
            <img src="../../../assets/4Fun.svg" width="32px" height="32px;" style="margin-top: -12px"/>
            <p class="box-text"> 4FUN</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 box-map" style="margin-bottom: 40px" *ngFor="let server of lista.fourFun.servers">
            <div class="minibox-blur">
            <i class="fa fa-code icon-left" aria-hidden="true"></i>
            </div>
            <div class="minibox-green">
            <i class="fa fa-external-link-square icon-left" aria-hidden="true"></i>
            </div>
            <h6 class="minibox-map">{{server.map}}</h6>
            <h6 class="server-qtd pull-right">{{server.current}}/{{server.max}}</h6>
            <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-3 body-box">
        <br>
        <div class="row">
        <div class="col-md-12">
            <img src="../../../assets/Lobby.svg" width="32px" height="32px;" style="margin-top: -12px"/>
            <p class="box-text"> LOBBY</p>
        </div>
    </div>
    <div class="row">
    <div *ngFor="let l of lista.games">
    <div class="col-md-4 box-lobby" *ngIf="l.title == 'Lobby'">
        <h6 class="number-matches">{{l.matches}}</h6>
        <h6 class="text-matches">PARTIDAS</h6>
        </div>
        <div class="col-md-4 box-lobby" *ngIf="l.title == 'Lobby'">
        <h6 class="number-wins">{{l.win}}</h6>
        <h6 class="text-wins">VITÓRIAS</h6>
        </div>
        <div class="col-md-4 box-lobby" *ngIf="l.title == 'Lobby'">
        <h6 class="number-loses">{{l.lose}}</h6>
        <h6 class="text-loses">DERROTAS</h6>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn-lobby" value="IR PARA LOBBY">IR PARA LOBBY</button>
        </div>
    </div>
    </div>
    <div class="col-md-3 body-box">
        <br>
        <div class="row">
        <div class="col-md-12">
            <img src="../../../assets/Open.svg" width="32px" height="32px;" style="margin-top: -12px"/>
            <p class="box-text"> RANKED OPEN</p>
        </div>
    </div>
    <div class="row">
    <div *ngFor="let p of lista.games">    
    <div class="col-md-4 box-lobby" *ngIf="p.title == 'Ranked Open'">
            <h6 class="number-matches">{{p.matches}}</h6>
            <h6 class="text-matches">PARTIDAS</h6>
    </div>
    <div class="col-md-4 box-lobby" *ngIf="p.title == 'Ranked Open'">
            <h6 class="number-wins">{{p.win}}</h6>
            <h6 class="text-wins">VITÓRIAS</h6>
    </div>
    <div class="col-md-4 box-lobby" *ngIf="p.title == 'Ranked Open'">
            <h6 class="number-loses">{{p.lose}}</h6>
            <h6 class="text-loses">DERROTAS</h6>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn-ranked" value="ENTRAR NA FILA"> <i class="fa fa-users" aria-hidden="true" style="size: 22px; margin-top:3px;"></i>
                 {{queuePremiumQt}} | ENTRAR NA FILA</button>
        </div>
    </div>
    </div>
</div>
<div class="col-md-2">
</div>
</div>
