.body-box {
    
    border-right: 2px solid #333548;
    border-bottom: 2px solid #333548;
    
    
}

.box-text {
    font-size: 30px;
    font-family: Teko;
    color: white;
    display: inline;
    margin: 10px;
}

.box-map {
    height: 150px;
    background-image: url('../../../assets/imgBox01.png');
    margin-left: -20px;
    width: 180px;
}

.box-lobby {
    height: 150px;
    border-radius: 2px;
    background-image: linear-gradient(180deg, rgba(238, 238, 238, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    width: 70px;
    margin-left: 10px;
}

.minibox-blur {
margin-left: 30px;
margin-top: 10px;
width: 28px;
height: 28px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
border-radius: 2px;
background-color: rgba(255, 255, 255, 0.05);
background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
}

.minibox-green{
margin-left: 60px;
margin-top: -28px;    
width: 28px;
height: 28px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.25);
border-radius: 2px;
background-color: #95b200;
background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
}

.progress {
    justify-content: space-between;
    height: 40px;
    
    background-color: transparent;
    margin-left: 30px;
    margin-bottom: 100px;
}   

.progress-bar {
    /* Style for "Rectangle" */
width: 234px;
height: 7px;
box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.3);
border-radius: 7px;
background-color: #272940;
background-color: rgba(255, 255, 255, 0.05);
background-image: linear-gradient(to right, #5c3abd 0%, #77dbff 100%);
}

.btn-lobby {
box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
border-radius: 2px;
border: 1px solid rgba(255, 255, 255, 0.1);
background-color: #ddbc39;
background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
width: 100%;
height: 30px;
margin-bottom: 10px;
font-family: Teko;
font-size: 20px;
color: white;
}

.btn-ranked {
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.25);
border-radius: 2px;
border: 1px solid rgba(255, 255, 255, 0.1);
background-color: #2c97de;
background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-family: Teko;
    font-size: 20px;
    color: white; 
}

.number-matches {
    font-family: Teko;
    color: #ddbc39;
    font-size: 38px;
    margin-left: -6px;
}

.text-matches {
    font-family: Teko;
    color: white;
    font-size: 18px;
    margin-left: -6px;
    margin-top: -12px;

}

.number-wins {
    font-family: Teko;
    color: #92aa00;
    font-size: 38px;
    margin-left: -6px;
}

.text-wins {
    font-family: Teko;
    color: white;
    font-size: 18px;
    margin-left: -6px;
    margin-top: -12px;

}

.number-loses {
    font-family: Teko;
    color: #fc3537;
    font-size: 38px;
    margin-left: -6px;
}

.text-loses {
    font-family: Teko;
    color: white;
    font-size: 18px;
    margin-left: -6px;
    margin-top: -12px;

}

.minibox-map{
    display:block; width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-family: Poppins;
    margin-left: 30px;
    margin-top: 70px;
}

.server-qtd{
    color: white;
    font-family: Poppins;
    margin-top: -22px;
    
}

.icon-left{
    color: white;
    margin-left: 6px;
    margin-top: 6px;
}