<div class="row">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-3 footer">
        <button type="submit" class="btn-ac" value="AC"><i class="fa fa-download" aria-hidden="true"></i>
             Download Gamers Club Anti-Cheat</button>
    </div>
    <div class="col-md-3 footer">
        
    </div>
    <div class="col-md-2 footer">
        <div class="col-md-6" style="margin-left: -80px; margin-top: 10px;">
            <p class="text-right">{{lista.online}}</p>
            
        </div>
        <div class="col-md-6" style="margin-left: 50px; margin-top: 10px;">
                <p class="text-right-danger">{{lista.latest_banned}}</p>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>