.footer {
border-radius: 0 0 2px 2px;
background-color: #222538;
height: 50px;
}

.btn-ac{
    height: 25px;
    border-radius: 3px;
    border: 1px solid #b6b8c6;
    background-color: rgba(255, 255, 255, 0.06);
    margin-top: 10px;
    font-family: Poppins;
    color: #b6b8c6;
}

.text-right {
    font-family: Teko;
    color: #2c97de;
    font-size: 25px;
}

.text-right-danger {
    font-family: Teko;
    color: #eb2f2f;
    font-size: 25px;
}