.header { 
    background-image: url("../../../assets/header-background.jpg");
    height: 100px;

    
}

.posicionamentoHeader {
    -webkit-box-shadow: -7px 11px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 11px 20px 0px rgba(0,0,0,0.75);
    box-shadow: -7px 11px 20px 0px rgba(0,0,0,0.75);
    margin-top: 50px;
}

.img-circle.avatar {
    margin-top: 25%;
    margin-left: auto;
	margin-right: auto;
	display: block;
    width: 64px;
    height: 64px;
    border:3px solid #74882c;

}

.user-info {
    margin-left: -10px;
    color: white;
    font-family: Poppins;
    size: 14px;
    margin-top: 25%;
    transform: translateY(-50%);
    position: relative;
}

.gc-id{
    margin-left: -10px;
    color: rgb(92, 92, 92);
    font-family: Poppins;
    size: 14px;
    margin-top: -10px;
    transform: translateY(-50%);
    position: initial;
}

.progress {
    justify-content: space-between;
    height: 40px;
    margin-top: 5px;
    background-color: transparent;
}

.progress-bar {
    /* Style for "Rectangle" */
width: 234px;
height: 7px;
box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.3);
border-radius: 7px;
background-color: #272940;
background-color: rgba(255, 255, 255, 0.05);
background-image: linear-gradient(to right, #5c3abd 0%, #77dbff 100%);
}

.labels {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.labelSpan {
    color: white;
    font-family: Teko;
    font-size: 17px;
    font-weight: 400;
}

.progress-bar-title {
    font-family: Teko;
    margin-top: 10px;
    height: 50px;
    color: white;
    font-size: 17px;
    font-weight: 400;
    margin-left: 150px;
}

.progress-bar-title.pro {
    font-family: Teko;
    margin-top: 10px;
    height: 50px;
    color: white;
    font-size: 17px;
    font-weight: 400;
    margin-left: 500px;
}

.icon-right {

}

/* .numberCircle{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
} */
