<div class="row">
<div class="posicionamentoHeader">
<div class="col-md-2"></div>
<div class="col-md-8 header">

    <div class="col-md-1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSD5YUzSVX-HvkMHEOWxIgj2wMMIxdYSkIXRvT3hVXd_gmAzoF" class="img-circle avatar"/>
    </div>
    <div class="col-md-2">
        <p class="user-info">
        {{lista.user.name}}            
        </p>
        <p class="gc-id">
            GC ID: {{lista.user.id}}
        </p>
    </div>
    <div class="col-md-6">
            <div class="labels">
                <span class="labelSpan">CASUAL <img src="../../../assets/pin.svg" style="transform:          rotate(180deg);"/></span>
                <span class="labelSpan" style="margin-right: 150px;">AMADOR <img src="../../../assets/pin.svg" style="transform:          rotate(180deg);"/></span>
                
                </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                <div class="progress-bar-title" style="display: inline-block">COMPETITIVO <img src="../../../assets/pin.svg" style="margin-right: -11 px;"/></div>
                <div class="progress-bar-title" style="margin-left: 200px !important; display: inline-block">PRO <img src="../../../assets/pin.svg" style="margin-right: -11 px;"/></div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    <img src="../../../assets/image01.png" style="margin-left: -100px; margin-top: -20px"/>
    <img src="../../../assets/Beginner.svg" style="margin-left: -100px; margin-top: -20px" width="50px"/>
    <img src="../../../assets/Sem Patente.svg" style="margin-left:-5px; margin-top: -16px" width="46px"/>
    </div>
    <div class="col-md-1" style="background-image: radial-gradient(circle 58px at 1813.86% 187.59%, #19f3ff 0%, #3883db 100%); height: 100%;">
        
    </div>
</div>
<div class="col-md-2">
</div>
</div>
</div>


